{% extends 'producto/plantilla.html' %}
{% load staticfiles %}
{% block content %}
    <section class="carrusel row" id="carrusel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--Indicadores(indica cuantos slides hay en el carrusel)-->
            <ol class="carousel-indicators">

                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active ">
                    <img src="{% static 'img/slider/slide1.jpg' %}" alt="">
                </div>

                <div class="item">
                    <img src="{% static 'img/slider/slide2.jpg' %}" alt="">
                </div>

                <div class="item">
                    <img src="{% static 'img/slider/slide3.jpg' %}" alt="">
                </div>

                <div class="item">
                    <img src="{% static 'img/slider/slide4.jpg' %}" alt="">
                </div>

            </div>

            <!-- Flechitas -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>

            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>

            </a>
        </div>
    </section>
    <section class="texto row" id="texto">
        <div class="infoEmpresa col-xs-12 col-md-5 col-lg-5">
            <div class="titulosInfo">
                <h5>Especialistas en venta online de suplementos en Chile</h5>
            </div>
            <br>
            <p class="cuerpoInfo">Chile Suplementos es la opción número uno para compras online de suplementos en Chile. Nuestra alta gama de suplementos nos permite entregar los mejores productos para, ya sea ganar masa muscular, tonificar o bajar de peso. Nuestra atención personalizada,
                selección de productos y rapidez de envío, nos hace ser los mejores en ventas online de suplementación deportiva en Chilee.</p>
        </div>
        <div class="infoEmpresa col-xs-12 col-md-5 col-lg-5">
            <div class="titulosInfo">
                <h5>Sabemos lo importante de tener tus suplementos en el lugar y el tiempo adecuado </h5>
            </div>
            <br>
            <p class="cuerpoInfo">Sabemos lo importante de tener tus suplementos en el lugar y el tiempo adecuado, por lo que contamos con alianzas con las empresas mas serias de Chile en transporte logístico, permitiéndonos entregarte tus suplementos a domicilio, a todo el territorio
                nacional. En Chile Suplementos nos preocupamos de despachar el mismo día de la compra, para que tengas tus productos lo antes posible, en tu casa, oficina o donde quiera que estés. Para envíos internacionales, contactar a ventas@chilesuplementos.cll.
            </p>
        </div>
    </section>
{% endblock %}