<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chile Suplmentos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Fjalla+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/flexboxgrid.min.css">
    <link rel="stylesheet" href="css/indexStyle.css">


</head>

<body>
    <span class="Ir-arriba icon-ctrl"></span>
    <header id="header">
        <nav class="navegador row">
            <div class="logo col-xs-8 col-sm-4 col-md-4 col-lg-4">
                <a href="index.html"><img src="img/Logo.png" alt=""></a>

            </div>
            <div class="icono col-xs-4" id="icono">
                <span>&#9776;</span>
            </div>
            <div class="enlaces uno col-xs-12 col-sm-8 col-md-8 col-lg-8" id="enlaces">
                <a href="index.html">Inicio</a>
                <a href="#">Marcas</a>
                <a href="contacto.html">Contacto</a>
            </div>
        </nav>
    </header>
    <section class="carrusel row" id="carrusel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--Indicadores(indica cuantos slides hay en el carrusel)-->
            <ol class="carousel-indicators">

                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active ">
                    <img src="img/slider/slide1.jpg" alt="">
                </div>

                <div class="item">
                    <img src="img/slider/slide2.jpg" alt="">
                </div>

                <div class="item">
                    <img src="img/slider/slide3.jpg" alt="">
                </div>

                <div class="item">
                    <img src="img/slider/slide4.jpg" alt="">
                </div>

            </div>

            <!-- Flechitas -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>

            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>

            </a>
        </div>
    </section>
    <section class="texto row" id="texto">
        <div class="infoEmpresa col-xs-12 col-md-5 col-lg-5">
            <div class="titulosInfo">
                <h5>Especialistas en venta online de suplementos en Chile</h5>
            </div>
            <br>
            <p class="cuerpoInfo">Chile Suplementos es la opción número uno para compras online de suplementos en Chile. Nuestra alta gama de suplementos nos permite entregar los mejores productos para, ya sea ganar masa muscular, tonificar o bajar de peso. Nuestra atención
                personalizada, selección de productos y rapidez de envío, nos hace ser los mejores en ventas online de suplementación deportiva en Chilee.</p>
        </div>
        <div class="infoEmpresa col-xs-12 col-md-5 col-lg-5">
            <div class="titulosInfo">
                <h5>Sabemos lo importante de tener tus suplementos en el lugar y el tiempo adecuado </h5>
            </div>
            <br>
            <p class="cuerpoInfo">Sabemos lo importante de tener tus suplementos en el lugar y el tiempo adecuado, por lo que contamos con alianzas con las empresas mas serias de Chile en transporte logístico, permitiéndonos entregarte tus suplementos a domicilio, a todo el
                territorio nacional. En Chile Suplementos nos preocupamos de despachar el mismo día de la compra, para que tengas tus productos lo antes posible, en tu casa, oficina o donde quiera que estés. Para envíos internacionales, contactar a ventas@chilesuplementos.cll.
            </p>
        </div>
    </section>
    <footer class="end row" id="piePagina">
        <div class="container-body row col-xs-12 col-lg-12">
            <div class="contacto col-xs-12 col-lg-4">
                <h1>Contacto</h1>
                <h3>Mesa Central</h3>
                <div class="row">
                    <img src="img/footer/smartphone.png" alt="">
                    <p>Telefono: +56 9 59434674</p>
                </div>
                <div class="row">
                    <img src="img/footer/contact.png" alt="">
                    <p>Email: ventas@Chilesuplementos.cl</p>
                </div>
            </div>
            <div class="RedesSociales col-xs-12 col-lg-4">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <a href="https://www.facebook.com/chilesuplementos.cl/">
                        <img src="img/footer/facebook-icon.png" alt=""> Siguenos en Facebook!
                    </a>
                </div>
                <div class="row">
                    <a href="https://www.instagram.com/chilesuplementos.cl/">
                        <img src="img/footer/instagram.png" alt=""> Siguenos en Instagram!
                    </a>
                </div>
            </div>
            <div class="direccion col-xs-12 col-lg-4">
                <h1>Direcciones</h1>
                <h3 class="Titulos">Tienda Concepción</h3>
                <div class="direcciones row">
                    <div class="casa col-xs-2">
                        <img src="img/footer/house.png" alt="">
                    </div>
                    <div class="addres col-xs-10">
                        <p>O'Higgins 465 local 48-Galeria italia.</p>
                        <h3 class="Titulos">Horario de atención</h3>
                        <p>Lunes-viernes: 09:30 - 19:30</p>
                        <p>Sábado: 10:30 - 14:00</p>
                        <h3 class="Titulos">Bodega de despacho</h3>
                        <p>Poeta Pedro Prado 1532, Quinta Normal.</p>
                        <p>Santiago.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-footer col-xs-12 col-lg-12">
            <div class="copyright col-xs-12 col-lg-6">
                <p>© Todos los derechos reservados | Chilesuplementos. | </p>
            </div>
            <div class="informacion col-xs-12 col-lg-6">
                <p>Politica y Privación | Terminos y Condiciones</p>
            </div>
        </div>
    </footer>

    <script src="js/Navegador.js"></script>
    <script src="js/arriba.js"></script>
</body>

</html>