{% extends 'producto/plantilla.html' %}
{% block content %}
    <section class="login formulario row">
     <div class="login-box">
         <h1>Inicia Sesión</h1>
         <form id="formlogin">
            <!--User Name -->
            <label for="username">Nombre de Usuario:</label>
            <input type="text" placeholder="Ingrese Nombre de Usuario:">

             <!--Contraseña-->
             <label for="password">Contraseña:</label>
             <input type="password" placeholder="Ingrese Contraseña:">
             <a  class="textos" href="#"  >
                <img class="icons" src="c:/Users/pablo/Suplementos/producto/static/img/footer/facebook-icon.png">Iniciar Sesión con Facebook
             </a>
             <a class="textos" href="#" >
                <img class="icons" src="c:/Users/pablo/Suplementos/producto/static/img/new-google-favicon-512.png">Iniciar Sesión con Google
             </a>
             <input type="Submit" value="Iniciar Sesión">
             <a href="#">¿Olvidaste tu Contraseña?</a><br/>
             <a href="#">Crear una Cuenta?</a>
         </form>
     </div>
    </section>
{% endblock %}   