{% load i18n %}{% autoescape off %}
{% blocktrans %}Has recibido este email porque solicitaste reestablecer tu contraseña en: {{ site_name }}.{% endblocktrans %}

{% trans "Haz click en el siguiente link para restablecer tu contraseña." %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Tu nombre de usuario, en caso de que lo hayas olvidado:' %} {{ user.get_username }}

{% trans "Gracias por usar nuestro sitio!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}