{% extends 'producto/plantilla.html'%}
{% load staticfiles %}
{% block content %} 
<div class="recuperarContraseña">
    <h2 class="xdda">Recuperación de contraseña enviada.</h2>
    <br>
    <p>Te hemos enviado un email con intrucciones para cambiar tu contraseña!, si existe una cuenta con el correo ingresado deberías recibirlo pronto.</p>
    <br>
    <p>Si no has recibido ningún email verifica que lo hayas escrito correctamente.</p> 
    <img src="{% static 'img/sendingemail.png' %}" alt="">
</div>

{% endblock %}